<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="DevConnectionString" connectionString="Data Source=10.202.192.152;Initial Catalog=Souke_ScheduledJob;User Id=db_souke_owner;Password=souke_@123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
